<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>

    <section class="m-5 d-flex flex-row align-items-center">
        <div class="bg-dark p-5 border rounded">
            <form id="myForm" class="gap-3">
                <input id="Path" class="btn btn-primary" type="file" multiple placeholder="Paste folder path ..." >
                <button id='Show'  class="btn btn-success">Show</button>
                <button id='Reset' class="btn btn-info" onclick="window.location.reload()">Reset</button>
            </form>
        </div>
        
        &nbsp;

        <div class="bg-dark p-5 border rounded text-light">
            <h4>
                <%= htmlWebpackPlugin.options.title %>
            </h4>
        </div>

    </section>
    <!--Output;-->
    <section id="Image-galery">

    </section>
</body>
</html>